<app-header></app-header>
<div class="body">
    <div>
        <h2> Registrazione </h2>
        <hr>

        <div class="divLogReg">
            <table class="divLogReg">
                <tr>
                    <td class="td1"><label>Username</label></td>
                    <td><input type="text" [(ngModel)]="utenteReg.username" (ngModelChange)="checkUsername()" title="obbligatorio (senza restrizioni)"/></td>
                </tr>
            </table>
            <div class="spaziofisso">
                <label>{{errorUsername}}</label>
            </div>
            <table class="divLogReg">
                <tr>
                    <td class="td1"><label>Password</label></td>
                    <td><input type="password" [(ngModel)]="utenteReg.password" (ngModelChange)="checkPassword()" title="minimo 8 caratteri, solo lettere e numeri, almeno una lettera maiuscola e un numero" /></td>
                </tr>
            </table>
            <div class="spaziofisso">
                <label>{{errorPassword}}</label>
            </div>
            <table class="divLogReg">
                <tr>
                    <td class="td1"><label> Email </label></td>
                    <td><input type="text" [(ngModel)]="utenteReg.email" (ngModelChange)="checkEmail()" title="accetta formato email con estensione dominio di 2 caratteri" /></td>
                </tr>
            </table>
            <div class="spaziofisso">
                <label>{{errorEmail}}</label>
            </div>

            <div class="margine">
                <button (click)="signIn()" [disabled]="!(usernameOk && passwordOk && emailOk)">Registrazione</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>