<div class="head">
  <img alt="" src="assets/Logo_Ammazzon3.png" />
  <div class="float">
    <input type="text" class="inputSearch" placeholder="Cerca per descrizione" class="inputSearch">
    <button class="button">Cerca</button>
    <br>
    <button class="button">LogIn</button>
    <button class="button">Carrello</button>
  </div>
</div>
<div class="toolbar">
  <a routerLink="/home-page" class="link margine">Home</a>
  <a routerLink="/gestione-utente-registrato" class="link margine">Utente Registrato</a>
  <a routerLink="/anagrafica-prodotto" class="link margine">Anagrafica Prodotti</a>
  <a routerLink="/gestisci-taglie" class="link margine">Gestione Taglie</a>
  <a routerLink="/associa-taglie-colori" class="link margine">Associazione Taglie/colori</a>
  <a routerLink="/gestisci-colori" class="link margine">Gestione Colori</a>
  
</div>