<div class="head">

  <img alt="" src="assets/Logo_Ammazzon3.png" />

  <div class="floatdestra">
    <button class="buttonlogin" routerLink="/login"></button>
    <button class="buttoncart"></button>
    <a routerLink="/registrazione" class="link2 margine2">Registrati</a>
  </div>
  <div class="floatdestra2">
    <input type="text" class="inputSearch2" placeholder="Cerca prodotto">
    <button class="buttoncerca marginedestro">CERCA</button>
  </div>

</div>

<div class="toolbar">
  <a routerLink="/home-page" class="link margine2">Home</a>
  <a routerLink="/gestione-utente-registrato" class="link margine2">Utente-Registrato</a>
  <a routerLink="/anagrafica-prodotto" class="link margine2">Anagrafica-Prodotti</a>
  <a routerLink="/gestisci-taglie" class="link margine2">Gestione-Taglie</a>
  <a routerLink="/associa-taglie-colori" class="link margine2">Associazione-Taglie/colori</a>
  <a routerLink="/associa-colori-a-prodotti" class="link margine2">Associazione-Colori/prodotti</a>
  <a routerLink="/gestisci-colori" class="link margine2">Gestione Colori</a>
</div>