<app-header></app-header>
<body>
{{prodotto.descrizione}}
<table>
    <tr>
        <th>Colore</th>
        <th></th>
    </tr>
    <tr *ngFor="let c of colori">
        <th>{{c.varianteColore.descrizione}}</th>
        <td><button (click)="selezionaColore(c)" class="buttonSel">Seleziona</button></td>
    </tr>
</table>
<table>
    <tr>
        <th>Taglia</th>
        <th></th>
    </tr>
    <tr *ngFor="let t of taglie">
        <th>{{t.varianteTaglia.codice}}</th>
        <td><button (click)="aggiungi(t)" class="buttoncart"></button></td>
    </tr>
</table>

</body>
<app-footer></app-footer>