<app-header></app-header>
<div class="body">
    <h1>{{prodotto.descrizione}}</h1>
    <img src="../../assets/pantaloni2.jpg">
    <div>
        <select [(ngModel)]="coloreSelezionato">
            <option *ngFor="let c of colori" [ngValue]="c">{{c.varianteColore.descrizione}}</option>
        </select>
        <button (click)="selezionaColore()" class="buttonSel">Seleziona</button>
    </div>
    <div>
        <select [(ngModel)]="tagliaSelezionata">
            <option *ngFor="let t of taglie" [ngValue]="t">{{t.varianteTaglia.codice}}</option>
        </select>
        <button (click)="aggiungi()" class="buttoncart"></button>
        {{risposta}}
    </div>
</div>
<app-footer></app-footer>