<app-header></app-header>
<body>
    <!--<table>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let p of listaProdotti">
            <td>{{p.codice}}</td>
            <td>{{p.descrizione}}</td>
            <td>{{p.prezzo}}</td>
        </tr>
    </table>-->
    

<!--Opzione 2-->
<table>
    <tr>
        <th>id</th>
        <th>qta</th>
        <th>select</th>
    </tr>
    <tr *ngFor="let qov of  listaQuantitaOrdineVariante">
        <td>{{qov.id}}</td>
        <td>{{qov.qta}}</td>
        <td> <button (click)="eliminaProdotto(qov)">Rimuovi prodotto</button></td>
    </tr>
</table>
{{ordine.id}}
<!--fine opzione2-->
<!--<app-pagination (next)="goToNext($event)" (prev)="goToPrevious($event)" (first)="goToFirst($event)"
        (last)="goToLast($event)" (numPaginaO)="caricaOrdineProdottiPaginati($event)" (pagSize)="setElemPag($event)"
        [numPaginaV]=numPaginaV [totalPages]=totalPages [elemPag]=elemPag>
    </app-pagination>-->
    <button routerLink = "/checkout">Checkout</button>
</body>
<app-footer></app-footer>