<app-header></app-header>
<div class="body">
    <h2>GESTIONE TAGLIE</h2>
    <br>
    <hr>
    <button (click)="nuova()" *ngIf="buttonNuovaVisible">Nuova</button>
    <div *ngIf="formDivVisible">
        <input type="text" placeholder="codice" [(ngModel)]="taglia.codice" [disabled]="campiNonEditabili"
            class="input">
        <br>
        <button (click)="modifica()" *ngIf="!confAnnVisible">Modifica</button>
        <button (click)="conferma()" *ngIf="confAnnVisible">Conferma</button>
        <button (click)="annulla()" *ngIf="confAnnVisible">Annulla</button>
        <button (click)="rimuovi()" *ngIf="!confAnnVisible">Rimuovi</button>
    </div>
    <br>
    <input type="text" placeholder="cerca" class="inputSearch" [(ngModel)]="criterio" *ngIf="searchVisible">
    <button (click)="cerca()" *ngIf="searchVisible">Cerca</button>
    <br>
    <div class="scrolldown">
        <table *ngIf="searchVisible">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of taglie">
                    <td>{{t.codice}}</td>
                    <td>
                        <button (click)="seleziona(t)">Seleziona</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<app-footer></app-footer>