<app-header></app-header>

<body>
    <div class="fling-minislide align">
        <img src="../../assets/img1.jpg" alt="Slide 1" />
        <img src="../../assets/img2.jpg" alt="Slide 2" />
        <img src="../../assets/img3.jpg" alt="Slide 3" />
    </div>
    <br>
    <hr>
    <div>
        <img class="centro" src="../../assets/barra.png" />

    </div>
    <br>
    <table class="centro">
        <tr>
            <td><img class="centro" src="../../assets/maglia1.jpg" /></td>
            <td><img class="centro" src="../../assets/sconto_primavera.png" /></td>
        </tr>
    </table>
    <div class="margine2 BGffffff">
        <p>Moda donna online: scopri la collezione di ammazzon
            ammazzon è un punto di riferimento di cui non puoi fare a meno se vuoi arricchire il tuo guardaroba con capi
            di
            abbigliamento da donna di qualità: classe ed eleganza si sposano in un connubio perfetto, con vestiti e
            abiti
            capaci di farti girare la testa. Il nostro assortimento include di tutto, dalle scarpe alle gonne, dagli
            accessori ai foulard, dalle cinture ai cappelli, dalle camicie ai pantaloni, dagli stivali ai maglioni,
            dalle
            canottiere alla biancheria intima, dai pigiami ai tailleur, dalle t-shirt alle calze, dai collant alle
            ciabatte:
            hai solo l'imbarazzo della scelta con tutte queste proposte, e sta a te decidere cosa fa al caso tuo.
            Approfitta
            delle promozioni e della convenienza dei prezzi del nostro assortimento.
        </p>
        <p>Esprimi il tuo stile in ogni occasione il giusto look!
            Definire il tuo look è semplice e al tempo stesso complesso, anche perché potresti decidere di variare il
            tuo
            outfit in base all'umore di giornata o a seconda del contesto in cui ti trovi. Per un colloquio di lavoro in
            ufficio, per esempio, non c' è niente di meglio di un completo grigio con tailleur e gonna lunga, in
            abbinamento
            a un paio di scarpe con un tacco modesto; per un'uscita con le amiche, invece, puoi lasciarti andare, con un
            paio di jeans sportivi, una camicetta sbarazzina e delle sneakers più confortevoli. Nel nostro catalogo ci
            sono
            soluzioni di tutti i tipi, anche abbigliamento per praticare sport o attività fisica.
        </p>
        <p>La moda donna è sfaccettata e piena di personalità, come te!
            Che tu prediliga uno stile più casual o che tu voglia essere sempre elegante in qualunque occasione, grazie
            al
            nostro catalogo hai l'opportunità; di costruire la tua identità e la tua personalità anche tramite i vestiti
            che
            indossi. Non dimenticare che a volte è sufficiente un semplice accessorio, come una sciarpina o una cintura,
            per
            cambiare in maniera significativa il tuo aspetto: ed è per questo motivo che devi prestare la massima
            attenzione
            a ogni tuo acquisto. Il nostro assortimento ti assiste sia in virtù delle offerte vantaggiose che lo
            contraddistinguono, sia in virtù della quantità e dell'eterogeneità di capi che puoi trovarvi.
        </p>
    </div>
    <table class="centro">
        <tr>
            <td><img class="centro" src="../../assets/Jeans.png" /></td>
        </tr>
    </table>
</body>

<app-footer></app-footer>