<app-header></app-header>
<input type="text" placeholder="Cerca prodotto" [(ngModel)]="criterio">
<button (click)="cerca()" class="button">Cerca</button>
<div>
    <table>
        <tr>
          <th>Codice</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
        </tr>
        <tr *ngFor="let p of listaProdotti">
          <td>{{p.codice}}</td>
          <td>{{p.descrizione}}</td>
          <td>{{p.prezzo}}</td>
          <td>
            <button (click)="selezionaProdotto(p)" class="buttonSel">Seleziona</button>
          </td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
          <th>Colori Associati</th>
        </tr>
        <tr *ngFor="let c of listaProdottiColori">
          <td>{{c.id}}</td>
          <td>{{c.varianteColore.descrizione}}</td>
          <td>
            <button (click)="selezionaColore(c)" (click)="selezionaColoreDis(c)" class="buttonSel">Seleziona</button>
          </td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
          <th>Taglie Già Associate</th>
        </tr>
        <tr *ngFor="let t of listaColoreTagliaAss">
          <td>{{t.id}}</td>
          <td>{{t.varianteTaglia.codice}}</td>
          <td>
            <button (click)="rimuovi(t)" class="buttonSel">></button>
          </td>
        </tr>
    </table>
    <button (click)="rimuoviAll()" class="buttonSel">>></button>
    <button (click)="associaAll()" class="buttonSel">associa tutti</button>
    <table>
          <tr>
            <th>Taglie Disponibili</th>
          </tr>
          <tr *ngFor="let t of listaVarianteTagliaDis">
            <td>{{t.id}}</td>
            <td>{{t.codice}}</td>
            <td>
              <button (click)="associa(t)" class="buttonSel">associa</button>
            </td>
          </tr>
      </table>
</div>
<app-footer></app-footer>