<input type="text" placeholder="Cerca prodotto" [(ngModel)]="criterio">
<button (click)="cerca()" class="button">Cerca</button>
<div>
    <table>
      <thead>
        <tr>
          <th>Codice</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listaProdotti">
          <td>{{p.codice}}</td>
          <td>{{p.descrizione}}</td>
          <td>{{p.prezzo}}</td>
          <td>
            <button (click)="selezionaProdotto(p)" class="buttonSel">Seleziona</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div>
    <table>
      <thead>
        <tr>
          <th>Colori Associati</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of listaProdottiColori">
          <td>{{c.nome}}</td>
          <td>
            <button (click)="selezionaColore(c)" class="buttonSel">Seleziona</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div>
    <table>
      <thead>
        <tr>
          <th>Taglie Già Associate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of listaColoreTagliaAss">
          <td>{{t.nome}}</td>
          <td>
            <button (click)="rimuovi(t)" class="buttonSel">></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="rimuoviAll()" class="buttonSel">>></button>
    <button (click)="associaAll()" class="buttonSel">associa tutti</button>
    <table>
        <thead>
          <tr>
            <th>Taglie Disponibili</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of listaColoreTagliaDis">
            <td>{{t.nome}}</td>
            <td>{{t.giacenza}}</td>
            <td>
              <button (click)="associa(t)" class="buttonSel">associa</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>