<app-header></app-header>

<body>
    <div>
        <h2> Login </h2>
        <hr>
        <div>
            <label>Username</label>
            <input type="text" [(ngModel)]="utenteReg.username" (blur)= "checkUsername()" />
            <label>{{errorUsername}}</label>
        </div>
        <div>
            <label>Password</label>
            <input type="password" [(ngModel)]="utenteReg.password" (blur)="checkPassword()" />
            <label>{{errorPassword}}</label>
        </div>
        <div>
            <button [disabled]="disableButtonL" (click)="checkLogin()">Login</button>
        </div>
        <br>
        <br>
        <label>{{errorMsg}}</label>
    </div>
</body>
<app-footer></app-footer>